.aps-attribute-description-container{max-width:570px}.aps-image-container img{max-width:300px}.aps-images-block{display:flex}.pcr-app .pcr-interaction input{font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;font-size:1em}.pcr-app .pcr-interaction .pcr-save{background:#1e8429}.pcr-app .pcr-interaction input:focus{box-shadow:none}.pickr{padding-bottom:15px}.pickr .pcr-button{border-radius:6px;box-shadow:1px 0 15px 0 var(--pcr-color)!important;height:40px;width:40px}.pickr .pcr-button:after{background:#fff}
