.aps-images-block {
  display: flex;

  .submit {
    padding: 0;
  }
}

.aps-image-container {
  img {
    max-width: 300px;
    margin-bottom: 20px;
  }
  &.aps-arrow-image-container {
    img {
      width: 20px;
      max-width: 20px;
    }
  }
}
