/**
 * Admin common styles (used on more than 1 screen).
 */

$mobile_max_width: 782px;

.text-align-center {
    text-align: center;
}

.aps-header {
    font-size: 32px;
    margin-bottom: 55px;
    line-height: 30px;
}

hr {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-m10 {
    margin-top: -10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-m10 {
    margin-bottom: -10px;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-m20 {
    margin-top: -20px;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-20 {
    margin-left: 20px;
}

@media (max-width: $mobile_max_width) {
    .m-mt-10 {
        margin-top: 10px;
    }

    .m-mb-10 {
        margin-bottom: 10px;
    }

    .m-mt-15 {
        margin-top: 15px;
    }

    .m-mb-15 {
        margin-bottom: 15px;
    }
}

.aps-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    flex-direction: column;

    .aps-block-heading {
        margin-top: 0;
        margin-bottom: 55px;
        text-align: center;
        font-size: 25px;
    }

    .aps-link {
        cursor: pointer;
        text-decoration: underline;
        user-select: none;

        &:first-child {
            margin-right: 5px;
        }

        &:last-child {
            margin-left: 5px;
        }
    }

    h3.aps-block-heading  {
        font-size: 20px;
    }

    span.p-like {
        font-size: 13px;
        line-height: 1.5;
        margin: 1em 0;
    }

    label {
        span {
            user-select: none;
        }
    }

    .aps-row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        p {
            margin-top: auto;
            margin-bottom: auto;
        }

        &:last-child {
            label {
                margin-bottom: 0;
            }
        }
    }

    .aps-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p.submit {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 5px;
    }

    .button[name="submit"] {
        width: auto;
        height: 35px;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .aps-checkbox {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        margin-bottom: 25px;
        margin-right: 20px;
    }

    .aps-checkbox span {
        margin-right: 10px;
        user-select: none;
    }

    .aps-input {
        margin-bottom: 0;

        &.aps-number-input {
            width: 40px;
            text-align: center;
        }

        &.aps-longtext-input {
            width: 450px;

            @media (max-width: $mobile_max_width) {
                margin-top: 10px;
                margin-left: 0;
            }
        }
    }

    select.aps-input {
        max-width: 600px;
    }

    label .aps-input {
        margin-left: 5px;
    }

    .aps-hidden {
        display: none;
    }

    input[type="file"][name="aps-import-settings-link-file-input"] {
        display: none;
    }

    textarea {
        width: 350px;
    }

    @media (max-width: $mobile_max_width) {
        .aps-column-mobile {
            flex-direction: column;
            align-items: baseline;
        }
    }

    .aps-align-items-flex-start {
        align-items: flex-start;
    }
}

/* SweetAlert2. */

.swal2-title {
    line-height: 35px;
    margin-bottom: 15px !important;
}

.swal2-actions {
    padding-top: 10px !important;
}

.swal2-styled.swal2-confirm {
    &:focus {
        box-shadow: none !important;
    }
}

.swal2-html-container {
    code {
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        font-size: 14px;
        padding: 10px 0;
    }
}

h2 {
    margin-bottom: 20px;
}

.aps-reorder-handle {
    user-select: none;
    cursor: move;

    &::before {
        content: "\f333";
        font-family: Dashicons;
        text-align: center;
        line-height: 1;
        color: #999;
        display: block;
        width: 17px;
        height: 100%;
        margin: 4px 0 0 0;
    }
}

table.wp-list-table {
    td {
        position: relative;
    }

    th {
        sup {
            position: absolute;
            transform: translate(2px, -4px);
        }
    }
}

.elem-that-covers-fake-disabled-checkboxes-and-gets-events {
    display: block;
    background: transparent;
    position: absolute;
    z-index: 2;
    left: 7px;
    width: 21px;
    top: 8px;
    height: 21px;
    cursor: pointer;

    &:focus + input[type="checkbox"]:disabled.fake-disabled {
        border-color: #2271b1;
        box-shadow: 0 0 0 1px #2271b1;
        outline: 2px solid transparent;
    }
}

input[type="checkbox"]:disabled.fake-disabled {
    opacity: 1;
    background: #fff;
    color: #50575e;
    border: 1px solid #8c8f94;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);

    &::before {
        opacity: 1;
    }
}

.aps-description-row {
    label {
        span {
            margin-right: 10px;
        }
    }
}

.aps-justify-center {
    justify-content: center !important;
}

.wp-editor-wrap {
    max-width: 570px;
}

.button.delete {
    border-color: #ce3d3d;
    color: #ce3d3d;

    &:hover,
    &:focus {
        border-color: #c03c3c;
        color: #c03c3c;
    }

    &:focus {
        box-shadow: 0 0 0 1px #c03c3c;
    }
}

.aps-images-block {
    > *:first-child {
        margin-right: 10px;
    }
}

.aps-header + form {
    margin-top: 30px;
}
