.aps-attribute-description-container {
  max-width: 570px;
}

.aps-image-container img {
  max-width: 300px;
}

.aps-images-block {
  display: flex;
}

// Pickr.

.pcr-app .pcr-interaction {
  input {
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  .pcr-save {
    background: #1e8429;
  }
  input:focus {
    box-shadow: none;
  }
}

.pickr {
  padding-bottom: 15px;

  .pcr-button {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 1px 0 15px 0 var(--pcr-color) !important;

    &::after {
      background: white;
    }
  }
}

//.