$mobile_max_width: 768px;
$tablet_max_width: 1050px;

.aps-popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);

  .aps-popup-content {
    background: white;
    position: absolute;
    left: 100px;
    top: 75px;
    right: 100px;
    bottom: 75px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px 0 15px 0 #00000033;
    overflow: auto;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;

    .aps-progress-bar {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      flex-wrap: wrap;

      .aps-attribute-entity {
        margin: 5px 0;
        padding: 10px;
        color: #fff;
        cursor: pointer;
        border-radius: 3px;
        background-color: #7b7b7b;
        font-weight: bold;
        position: relative;

        .aps-arrow-image {
          display: none;
        }

        &:not(:last-child) {
          margin-right: 35px;

          &.custom-arrow-set {
            margin-right: 40px;
          }

          .aps-arrow-image {
            position: absolute;
            width: 25px;
            left: calc(100% + 7px);
            display: inline;
            pointer-events: none;
            cursor: default;
          }

          &:not(.custom-arrow-set)::after {
            content: "→";
            display: block;
            color: black;
            font-size: 16px;
            position: absolute;
            right: -24px;
            top: 50%;
            line-height: 0;
            transform: translateY(-50%);
            pointer-events: none;
            cursor: default;
          }
        }

        &:hover {
          background-color: #585858;
        }

        &.selected {
          background-color: #007f00;
        }

        &.current {
          background-color: #2254a6;
        }
      }
    }

    @media (max-width: $mobile_max_width) {
      left: 20px;
      right: 20px;
      max-width: 80vw;
    }

    display: flex;
    flex-direction: column;

    .aps-close-btn {
      font-size: 21px;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      cursor: pointer;
      box-sizing: border-box;
      margin-right: 5px;
      position: absolute;
      top: 0;
      right: 15px;
      padding: 0;

      &:hover {
        color: #5d5d5d;
      }
    }

    .aps-attr-block {
      height: fit-content;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .aps-attr-heading {
        font-size: 27px;
      }

      .aps-attr-heading,
      .aps-attr-description {
        color: #000;
        margin-top: 0;

        p:last-child {
          margin-bottom: 0;
        }
      }

      .aps-attr-description {
        margin-top: 10px;
        margin-bottom: 5px;
      }

      .aps-terms-block {
        display: grid;
        grid-template-columns: repeat(var(--aps-attr-columns-desktop), 1fr);
        margin-top: 25px;
        grid-gap: 10px;

        @media (max-width: $tablet_max_width) {
          grid-template-columns: repeat(var(--aps-attr-columns-tablet), 1fr);
        }

        @media (max-width: $mobile_max_width) {
          grid-template-columns: repeat(var(--aps-attr-columns-mobile), 1fr);
        }

        .aps-option {
          padding: 10px;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          box-shadow: 1px 0 15px 0 #00000033;
          border-radius: 6px;
          transition: all .25s ease-in-out;
          position: relative;

          * {
            transition: 0.15s ease-in-out;
          }

          &.active,
          &:hover {
            .aps-option-heading {
              background-color: #022734;
              color: #fff;
            }
          }

          $opacity: 0.5;

          &.no-image {
            justify-content: flex-end;
          }

          &.disabled,
          &.grayed-out {
            filter: opacity($opacity);
          }

          &.disabled {
            cursor: default;
            pointer-events: none;
            user-select: none;
          }

          .aps-option-recommended-block {
            backdrop-filter: blur(25px);
            background: rgb(0 0 0 / 25%);
            color: #fff;
            padding: 0 5px;
            position: absolute;
            right: 10px;
            width: calc(100% - 20px);
            max-width: fit-content;
            top: 0;
            transform: rotate(13deg) translateX(20px) translateY(37%);
            border-radius: 5px;
            box-shadow: 1px 0 15px 0 rgb(0 0 0 / 20%);
            z-index: 2;

            p:last-child {
              margin-bottom: 0;
            }
          }

          .aps-option-image,
          .aps-option-hover-image {
            .aps-img-container {
              overflow: hidden;
              position: relative;

              &::after {
                color: #fff;
                content: var(--aps-non-available-option-text);
                display: block;
                line-height: 1.2;
                padding: 5px;
                position: absolute;
                text-shadow: 1px 1px 15px #040404;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;
              }
            }
          }

          .aps-option-image {
            margin-bottom: auto;
            padding-bottom: 15px;

            img {
              width: 100%;
            }

            &.aps-option-hover-image {
              display: none;
            }
          }

          .aps-non-available-option-text-block {
            padding-bottom: 15px;
            color: black;
            font-weight: bold;
          }

          &:hover {
            .aps-option-hover-image {
              display: initial;

              + .aps-option-image {
                display: none;
              }
            }
          }

          .aps-option-description {
            text-align: left;
            margin: 0 0 15px;
            color: black;

            p:last-child {
              margin-bottom: 0;
            }
          }

          .aps-option-price {
            text-align: center;
            color: black;
            margin-bottom: 10px;
          }

          .aps-option-heading {
            font-size: 17px;
            line-height: 30px;
            cursor: pointer;
            text-align: center;
            color: #000;
            box-sizing: border-box;
            border: 1px solid #e3e3e3;
            width: 100%;
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: 6px;
            margin: 0;
          }
        }
      }

      .aps-pagination-container {
        margin: auto 0 0 0;

        .aps-pagination {
          margin: 30px 0 0 0;
          display: flex;
          justify-content: center;

          .aps-pagination-element {
            &:first-child {
              border-radius: 6px 0 0 6px;
            }

            &:last-child {
              border-radius: 0 6px 6px 0;
            }
          }

          span,
          a {
            cursor: pointer;
            color: #111;
            padding: 5px 10px;
            border: 1px solid #00000029;
            display: inline-block;
            user-select: none;
            background: #fff;

            &:not(:first-child) {
              border-left: 0;
            }

            &.active {
              font-weight: 600;
            }

            &:not(.aps-pagination-dots):hover {
              background-color: #f7f7f7;
            }

            &.aps-pagination-dots {
              cursor: default;
            }
          }
        }
      }
    }

    .aps-blocks-separator {
      color: #3c434a;
      font-size: 13px;
      line-height: 18px;
      border: 0;
      border-top: 1px solid #000000c7;
      border-bottom: 1px solid #3c3c3c0d;
      margin-top: 35px;
      margin-bottom: 25px;
    }
  }

  &.visible {
    display: flex;
  }

  .aps-select-next-attribute-block {
    margin-top: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;

    .aps-select-next-attribute-heading {
      display: inline-block;
      color: black;
      margin-bottom: 5px;
      margin-top: 15px;
      max-width: 250px;
    }

    .aps-select-next-attribute-button {
      display: inline-block;
      background: #4d4d4d;
      padding: 8px 24px;
      color: #fff;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 6px;
      margin-top: 10px;

      &:only-child {
        margin-top: 20px;
      }

      &:hover {
        background: #565656;
      }
    }
  }
}

/* Tippy.js. */

.tippy-box[data-theme="aps"] .tippy-content {
  p:last-child {
    margin-bottom: 0;
  }
}

/* SweetAlert2. */

.aps-swal-popup {
  .swal2-title {
    line-height: 35px;
  }

  .swal2-styled.swal2-confirm {
    &:focus {
      box-shadow: none !important;
    }
  }

  .swal2-html-container {
    code {
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;
      font-size: 14px;
      padding: 10px 0;
    }
  }

  .swal2-confirm,
  .swal2-cancel {
    text-transform: capitalize;
    font-size: 16px;
    line-height: normal;
    font-weight: 900;
  }
}

.variations_form table.variations:not(.aps-show) {
  th.label,
  td.value select {
    display: none;
  }

  * {
    padding: 0;
  }
}

.aps-open-variations-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #00000021;
  box-shadow: 2px 2px 1px 2px #8484840d;
  background: #fff;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 7px 10px;

  &:hover {
    background: #fcfcfc;
  }

  .aps-open-text {
    color: #000;
    margin-right: 15px;
  }

  .aps-open-arrow {
    color: #d2d2d2;
    font-size: 1.1em;
    line-height: 0;
    transition: 0.2s;
  }

  &:hover {
    .aps-open-arrow {
      transform: translateX(2px);
    }
  }
}
